<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GitHub Issue Tracker</title>

  <link href="https://fonts.googleapis.com/css?family=Inter:400,600,800&display=swap" rel="stylesheet">
  <link rel="stylesheet". href="css/bundle.css">
</head>
<body data-controller="focus">
    {% include "../components/header.njk" %}


    <main class="container">
      {% include "../components/issue-list.njk" %}
    </main>

  <script src="js/bundle.js"></script>
</body>
</html>
