<div class="errorMessage" data-target="issues.errorMessage">
  <p>An error has occurred while fetching the data.</p>
  <button class="errorMessage__button" data-action="issues#retry">Try again</button>
</div>
