<div class="loader" data-target="issues.loader">
  <div class="loader__inner">
    <div class="spinner">
      <div class="spinner__dot spinner__dot--1"></div>
      <div class="spinner__dot spinner__dot--2"></div>
      <div class="spinner__dot spinner__dot--3"></div>
    </div>
  </div>
</div>
